<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="./static/eq_sur.css">
        <title>EQ_SUR</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </head>
    <body>
        <div class="container">
            <div class="timeline">
              <ul>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>{{name}}</h1>
                    <img src="https://equitable-surveillance-processed-output.s3.amazonaws.com/{{folder}}/crops/0/{{img}}"  />
                    <!-- <img src="https://equitable-surveillance-processed-output.s3.amazonaws.com/{{folder}}/crops/0/{{img}}"  /> -->
                    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p> -->
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 2</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 3</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
                  </div>
                </li>
                <li>
                  <div class="timeline-content">
                    <h3 class="date">20th may, 2010</h3>
                    <h1>Heading 4</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora ab laudantium voluptatibus aut eos placeat laborum, quibusdam exercitationem labore.</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        
        <script src="" async defer></script>
    </body>
</html>