<html>

<!-- <head>

</head> -->



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./static/eq_sur.css">
    <title>EQ_SUR</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .summary {
            width: 100%;
            display: flex;
        }

        .c1 {
            width: 50%;

        }

        .c2 {
            width: 50%;
        }
    </style>

</head>

<body>
    <div class="container">
        <!-- <div class="summary"> -->
        <!-- <div class="heading-content"></div> -->
        <div class="c1">
            <h3>Note template</h3>
            <ul>
                <li>Name: </li>
                <li>Account#: </li>
                <li>Meter: </li>
                <li>Phone: </li>
            </ul>
        </div>
        <div class="c2">
            <h3>Note Template(Other)</h3>
            <ul>
                <li>Name: </li>
                <li>Primary Contact: </li>
                <li>Account#: </li>
                <li>Meter: </li>
                <li>Phone: </li>
            </ul>
        </div>
    </div>
    <!-- </div> -->
</body>

</html>



<!-- <div class="container_summary">
    <div class="c1">
      <h3>Note template</h3>
      <ul>
        <li>Name: </li>
        <li>Account#: </li>
        <li>Meter: </li>
        <li>Phone: </li>
        <li>Issue: </li>
        <li>Resolution: </li>
        <li>KB: None</li>
      </ul>
    </div>
    <div class="c2">
      <h3>Note Template(Other)</h3>
      <ul>
        <li>Name: </li>
        <li>Primary Contact: </li>
        <li>Account#: </li>
        <li>Meter: </li>
        <li>Phone: </li>
        <li>Primary Phone#: </li>
        <li>Issue: </li>
        <li>Resolution: </li>
        <li>KB: None</li>
      </ul>
    </div>
  </div>
 -->